<% if user_signed_in? %>

<div class="dashboard">

  <div style='height: 400px; width: 50%; border: 1px solid blue; float: left; font-size: 0pt;'>  

    <h2> Overall Project Status</h2>   
        
  </div> 
  
  <div style='height: 400px; width: 49.65%; border: 1px solid blue; float: left; font-size: 0pt;'>  

  <h3><u>Project Timeline</u></h3>
  
  <hr />
  <h5><u>An Annoncement Title</u></h5>
  <h6>By Someone</6>
  <h6>Viven Madish.....</h6>

  <h5><u>Another Annoncement Title</u></h5>
  <h6>By Someone</6>
  <h6>Viven Madish.....</h6>

  <h5><u>A Longer Rambling Annoncement Title</u></h5>
  <h6>By Someone</6>
  <h6>Viven Madish.....</h6>

  <h5><a>+ Add Announcement</a></h5>

 </div><br />
 <hr />
<h3>Search Sites</3><br />
<div style='height: 250px; width: 100%; border: 1px solid black; float: left; font-size: 0pt;'>



<table style="border:2px solid black; width:850px; background-color: #C0C0C0; float:left">
<tr>  

<td>
  <form action="" method="post" >
    Agency Name<br />

    <input type="text" style="width:120px">
  
  </form> 

</td>
<td>
  <form action="" method="post" >
    Address <br /><input type="text" style="width:120px" />
  
  </form>
</td>
<td>
  <form action="" method="get" >
    City <br />
    <select name="" style="width:120px">
     <option value="albert">Albertville</option>
     <option value="Birm">Birmingham</option>
     <option value="" selected>pick One</option>
     <option value="mobile">Mobile</option>
     <option value="anch">Anchorage</option>
     <option value="Jun">Juneau</option>
     <option value="Fairbanks">Fairbanks</option>
    </select>  
  </form>
</td>
<td>
  <form action="" method="get" >
    State <br />
    <select name="" style="width:120px">
     <option value="bla">blabla</option>
     <option value="lab">lablab</option>
     <option value="" selected>AK</option>
     <option value="alas">Alaska</option>
    </select>
  
  </form> 
</td>
<td>
  <form action="" method="post" >
    Zip Code <br /><input type="text" style="width:120px">
  
  </form> 
</td>
<td>
  <form action="" method="post" >
    Phone Number <br /><input type="text" style="width:120px">
  
  </form> 
</td>
</tr>
</table>
<table style="float: left; background-color: #C0C0C0; border:2px;">
<tr>  
<td>
  Site Id<br />
  <%= form_tag products_path, :method => 'get' do %>  
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %>  
  <p>  
    <%= text_field_tag :search, params[:search] %> 
     
    <%= submit_tag "Search", :Site_id => nil %>  
  </p>
  <% end %> 
</td>
</tr>
</table>
</div>


<% else %> 

<div class="hero-unit">
<h1>ASC360 Project Management</h1>

<p>
  Welcome to ASC360 Project Management
</p>
<p>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary pull-right" %>
</p>
</div>
</div>
<% end %>